<ion-view view-title="General Information">
  <ion-content class="containerTXLF">
    <h1>TXLF 2015</h1>
    <p>This app was built with Ionic Framework. A wrapper for AngularJS which builds on top of Cordova. This allows us to build hybrid apps on mobile.</p>
    <p>This is an open source App which you can find on GitHub:<p>
    <a href="https://github.com/danielim/TXLF_ionic">TXLF_ionic on GitHub</a>


    <h2>Author</h2>
    <p>My name is Daniel Chen, I built this app on and off for the past month. It was great fun and a challenge learning AngularJS alongside with Ionic's customizations. I hope you all enjoy the app and find it useful.<p>
    <p>The app was a bit rushed due to time constrains and it isn't as elegant as I'd hope for. Instead I made publishing it a priority over elegancy. I am hoping to fix the glitches and improve the app for next year.<p>
    <p>You can find/contact me about the App on:</p>
    Website: <a href="http://daniel.im/">http://daniel.im/</a><br />
    Twitter: <a href="http://twitter.com/imdanielch">@imdanielch</a><br />
    LinkedIn: <a href="http://www.linkedin.com/in/imdanielch">www.linkedin.com/in/imdanielch</a><br />
    <p>Also available for new career opportunities. Please don't hesitate to hit me up.</p>
  </ion-content>
</ion-view>
