<ion-view view-title="General Information">
  <ion-content class="containerTXLF">
    <h1>Texas Linux Fest 2015</h1>
    <p>Texas Linux Fest 2015 is the sixth annual Linux and open source software event for Texas and the surrounding region. We are excited to bring you two days of general sessions and vendor sessions this year along with two full days of expo floor! Texas Linux Fest is for the business and home Linux user, and for the experienced developer and newcomer alike.</p>
    <h2>Code of Conduct</h2>
    <p>Please see our <a href="https://2015.texaslinuxfest.org/code-of-conduct">Code of Conduct</a></p>
  </ion-content>
</ion-view>
