<ion-view view-title="Schedule">
  <ion-content ng-controller="SchedCtrl">
    <p>Slide an item for a button to add event to your schedule</p>
  <h2 class="headroom">Friday, August 21st</h2>
        <ion-list class="list list-inset">
            <span ng-repeat="i in schedFri | groupBy: 'time' | toArray: true | orderBy: min"> 
                <ion-item class="item item-divider item-complex-divider">
                            {{i.$key}}
                </ion-item>
                <ion-item ng-repeat="sched in i" ng-if="sched.title != undefined" class="item item-text-wrap" ng-attr-href="{{sched.link ? '#' : undefined}}" ng-click="openUrl('{{sched.link}}');">
                            {{sched.title}}
                            <ion-option-button class="button-balanced" ng-click="addMySched(sched, 'fri')">
                            Add
                            </ion-option-button>
                </ion-item>
            </span>
        </ion-list>
        
  <h2 class="headroom">Saturday, August 22nd</h2>
        <ion-list class="list list-inset">
            <span ng-repeat="x in schedSat | groupBy: 'time' | toArray: true | orderBy: min"> 
                <ion-item class="item item-divider item-complex-divider item-text-wrap">
                            {{x.$key}}
                </ion-item>
                <ion-item ng-repeat="sched in x" ng-if="sched.title != undefined" class="item item-text-wrap" ng-attr-href="{{sched.link ? '#' : undefined}}" ng-click="openUrl('{{sched.link}}');">
                            {{sched.title}}
                            <ion-option-button class="button-balanced" ng-click="addMySched(sched, 'sat')">
                            Add
                            </ion-option-button>
                </ion-item>
            </span>
        </ion-list>
 
  </ion-content>
</ion-view>
