// layout css for all states/views/templates.

.containerTXLF {
    line-height: 2em;
    display: block;
    width: 90%;
    padding: 2em 0;
    margin: 1em auto;
}

.scroll {
}

.iframe {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

.item-complex-divider > .item-content{
    background-color: inherit;
}

.inline-block {
    display: inline-block;
}
